body {
    background-image: url(kompleksnoe-reklamnoe-oformlenie-magazinov-supermarketov.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
a{
    color: black;
}